<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Biz Express</title>
	<!-- core CSS -->
    <link href="../public/css/bootstrap.min.css" rel="stylesheet">
    <link href="../public/css/font-awesome.min.css" rel="stylesheet">
    <link href="../public/css/animate.min.css" rel="stylesheet">
    <link href="../public/css/owl.carousel.css" rel="stylesheet">
    <link href="../public/css/owl.transitions.css" rel="stylesheet">
    <link href="../public/css/main.css" rel="stylesheet">
    <!--[if lt IE 9]>
    <script src="../public/js/html5shiv.js"></script>
    <script src="../public/js/respond.min.js"></script>
    <![endif]-->       
  
</head><!--/head-->

<body id="home" class="homepage">

    <header id="header">
        <nav id="main-menu" class="navbar navbar-default navbar-fixed-top top-nav-collapse" role="banner">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="index.ejs"><img src="../public/images/logo.png" alt="logo"></a>
                </div>
				
                <div class="collapse navbar-collapse navbar-right">
                    <ul class="nav navbar-nav">
                        <li class="scroll active"><a href="#home">首页 </a></li>
                        <li class="scroll"><a href="#services">业务体系 </a></li>
                        <li class="scroll"><a href="#portfolio">研学案例</a></li>
                        <li class="scroll"><a href="#meet-team">安全保障 </a></li>
                        <!-- <li class="scroll"><a href="#pricing">安全保障</a></li> -->
                        <li class="scroll"><a href="#blog"> 研学资讯 </a></li>
                        <li class="scroll"><a href="#testimonial"> 关于我们 </a></li>
                       <li class="scroll"><a href="#get-in-touch">联系我们</a></li>                        
                    </ul>
                </div>
            </div><!--/.container-->
        </nav><!--/nav-->
    </header><!--/header-->

    <section id="main-slider">
        <div class="owl-carousel">
            <div class="item" style="background-image: url(../public/images/bg1.jpg);">
                <div class="slider-inner">
                    <div class="container">
                        <div class="row">
                            <div class="col-sm-12 text-center">
                                <div class="carousel-content">
                                    <h2>研学旅行</h2>
                                    <p>始于 20世纪30年代由著名教育家陶行知倡导的“知行合一”<br/>有清晰的战略目标和顶层设计做到提升国民素质、提升国家文化软实力</p>
                                    <a class="btn btn-primary btn-lg" href="#">Find Out More</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div><!--/.item-->
             <div class="item" style="background-image: url(../public/images/bg2.jpg);">
                <div class="slider-inner">
                    <div class="container">
                        <div class="row">
                            <div class="col-sm-12 text-center">
                                <div class="carousel-content">
                                    <h2>研学、教育和旅游融合发展</h2>
                                    <p>培养学生的理性、探究、实践和创新精神<br />强调专业性、知识性、趣味性、科学性、教育性<br/>通过校内与校外相结合尝试推进素质教育基于传统教育开展研学之旅</p>
                                    <a class="btn btn-primary btn-lg" href="#">Find Out More</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div><!--/.item-->
        </div><!--/.owl-carousel-->
    </section><!--/#main-slider-->

    

	<section id="services" >
        <div class="container">

            <div class="section-header">
                <h2 class="section-title text-center wow fadeInDown">业务体系</h2>
                <p class="text-center wow fadeInDown">通过校内与校外相结合尝试推进素质教育基于传统教育开展研学之旅</p>
            </div>

            <div class="row">
                <div class="features">
                    <div class="col-md-4 col-sm-6 wow fadeInUp" data-wow-duration="300ms" data-wow-delay="0ms">
                        <div class="media service-box">
                            <div class="pull-left">
                                <img src="../public/images/icon1.png" alt="img">
                            </div>
                            <div class="media-body">
                                <h4 class="media-heading">研学旅行</h4>
                                <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;培养学生的理性、探究、和创新精神强调专业性、知识性、趣味性、科学性、教育性;根据区域特色、学生年龄特点和各学科教学内容需要，组织学生通过集体旅行、集中食宿的方式走出校园，在与平常不同的生活中拓展视野、丰富知识，加深与自然和文化的亲近感，增加对集体生活方式和社会公共道德的体验。</p>
                            </div>
                        </div>
                    </div><!--/.col-md-4-->

                    <div class="col-md-4 col-sm-6 wow fadeInUp" data-wow-duration="300ms" data-wow-delay="100ms">
                        <div class="media service-box">
                            <div class="pull-left">
                                <img src="../public/images/icon2.png" alt="img">
                            </div>
                            <div class="media-body">
                                <h4 class="media-heading">综合实践</h4>
                                <p>培养学生的理性、探究、和创新精神强调专业性、知识性、趣味性、科学性、教育性;根据区域特色、学生年龄特点和各学科教学内容需要，组织学生通过集体旅行、集中食宿的方式走出校园，在与平常不同的生活中拓展视野、丰富知识，加深与自然和文化的亲近感，增加对集体生活方式</p>
                            </div>
                        </div>
                    </div><!--/.col-md-4-->

                    <div class="col-md-4 col-sm-6 wow fadeInUp" data-wow-duration="300ms" data-wow-delay="200ms">
                        <div class="media service-box">
                            <div class="pull-left">
                                <img src="../public/images/icon3.png" alt="img">
                            </div>
                            <div class="media-body">
                                <h4 class="media-heading">营地教育</h4>
                                <p>培养学生的理性、探究、和创新精神强调专业性、知识性、趣味性、科学性、教育性;根据区域特色、学生年龄特点和各学科教学内容需要，组织学生通过集体旅行、集中食宿的方式走出校园，在与平常不同的生活中拓展视野、丰富知识，加深与自然和文化的亲近感，增加对集体生活方式</p>
                            </div>
                        </div>
                    </div><!--/.col-md-4-->
                
                    <div class="col-md-4 col-sm-6 wow fadeInUp" data-wow-duration="300ms" data-wow-delay="300ms">
                        <div class="media service-box">
                            <div class="pull-left">
                               <img src="../public/images/icon4.png" alt="img">
                            </div>
                            <div class="media-body">
                               <h4 class="media-heading">未来学校</h4>
                                <p>培养学生的理性、探究、和创新精神强调专业性、知识性、趣味性、科学性、教育性;根据区域特色、学生年龄特点和各学科教学内容需要，组织学生通过集体旅行、集中食宿的方式走出校园，在与平常不同的生活中拓展视野、丰富知识，加深与自然和文化的亲近感，增加对集体生活方式</p>
                            </div>
                        </div>
                    </div><!--/.col-md-4-->

                    <div class="col-md-4 col-sm-6 wow fadeInUp" data-wow-duration="300ms" data-wow-delay="400ms">
                        <div class="media service-box">
                            <div class="pull-left">
                               <img src="../public/images/icon5.png" alt="img">
                            </div>
                            <div class="media-body">
                                <h4 class="media-heading">培养方向</h4>
                                <p>培养学生的理性、探究、和创新精神强调专业性、知识性、趣味性、科学性、教育性;根据区域特色、学生年龄特点和各学科教学内容需要，组织学生通过集体旅行、集中食宿的方式走出校园，在与平常不同的生活中拓展视野、丰富知识，加深与自然和文化的亲近感，增加对集体生活方式</p>
                            </div>
                        </div>
                    </div><!--/.col-md-4-->

                    <div class="col-md-4 col-sm-6 wow fadeInUp" data-wow-duration="300ms" data-wow-delay="500ms">
                        <div class="media service-box">
                            <div class="pull-left">
                                <img src="../public/images/icon6.png" alt="img">
                            </div>
                            <div class="media-body">
                                <h4 class="media-heading">培养方向</h4>
                                <p>培养学生的理性、探究、和创新精神强调专业性、知识性、趣味性、科学性、教育性;根据区域特色、学生年龄特点和各学科教学内容需要，组织学生通过集体旅行、集中食宿的方式走出校园，在与平常不同的生活中拓展视野、丰富知识，加深与自然和文化的亲近感，增加对集体生活方式</p>
                            </div>
                        </div>
                    </div><!--/.col-md-4-->
                </div>
            </div><!--/.row-->    
        </div><!--/.container-->
    </section><!--/#services-->
    
    <section id="animated-number">
        <div class="container">
            <div class="section-header">
                <h2 class="section-title text-center wow fadeInDown">研学数据</h2>
                <p class="text-center wow fadeInDown">研学从创立之初已经与多家学校建立合作关系<br />通过校内与校外相结合尝试推进素质教育</p>
            </div>

            <div class="row text-center">
                <div class="col-sm-3 col-xs-6">
                    <div class="wow fadeInUp" data-wow-duration="400ms" data-wow-delay="0ms">
                        <div class="animated-number" data-digit="136800" data-duration="1000"></div>
                        <strong>参与研学人次</strong>
                    </div>
                </div>
                <div class="col-sm-3 col-xs-6">
                    <div class="wow fadeInUp" data-wow-duration="400ms" data-wow-delay="100ms">
                        <div class="animated-number" data-digit="100" data-duration="1000"></div>
                        <strong>合作学校</strong>
                    </div>
                </div>
                <div class="col-sm-3 col-xs-6">
                    <div class="wow fadeInUp" data-wow-duration="400ms" data-wow-delay="200ms">
                        <div class="animated-number" data-digit="1000" data-duration="1000"></div>
                        <strong>线下合作机构</strong>
                    </div>
                </div>
                <div class="col-sm-3 col-xs-6">
                    <div class="wow fadeInUp" data-wow-duration="400ms" data-wow-delay="300ms">
                        <div class="animated-number" data-digit="2000" data-duration="1000"></div>
                        <strong>研学分支点</strong>
                    </div>
                </div>
            </div>
        </div>
    </section><!--/#animated-number-->
    
        <section id="portfolio">
        <div class="container">
            <div class="section-header">
                <h2 class="section-title text-center wow fadeInDown">研学案例</h2>
                <p class="text-center wow fadeInDown">研学精彩瞬间捕捉</p>
            </div>

            <div class="text-center">
                <ul class="portfolio-filter">
                    <li><a class="active" href="#" data-filter="*">全部</a></li>
                    <li><a href="#" data-filter=".creative">印刷</a></li>
                    <li><a href="#" data-filter=".corporate"> 网页  </a></li>
                    <li><a href="#" data-filter=".portfolio">插图 </a></li>
                    <li><a href="#" data-filter=".portfolio">媒体 </a></li>
                </ul><!--/#portfolio-filter-->
            </div>

            <div class="portfolio-items">
                <div class="portfolio-item creative">
                    <div class="portfolio-item-inner">
                        <img class="img-responsive" src="../public/images/work_1.jpg" alt="">
                        <div class="portfolio-info">
                            <h3>Portfolio Item 1</h3>
                            Lorem Ipsum Dolor Sit
                            
                        </div>
                    </div>
                </div><!--/.portfolio-item-->

                <div class="portfolio-item corporate portfolio">
                    <div class="portfolio-item-inner">
                        <img class="img-responsive" src="../public/images/work_2.jpg" alt="">
                        <div class="portfolio-info">
                            <h3>Portfolio Item 2</h3>
                            Lorem Ipsum Dolor Sit
                            
                        </div>
                    </div>
                </div><!--/.portfolio-item-->

                <div class="portfolio-item creative">
                    <div class="portfolio-item-inner">
                        <img class="img-responsive" src="../public/images/work_3.jpg" alt="">
                        <div class="portfolio-info">
                            <h3>Portfolio Item 3</h3>
                            Lorem Ipsum Dolor Sit
                            
                        </div>
                    </div>
                </div><!--/.portfolio-item-->

                <div class="portfolio-item corporate">
                    <div class="portfolio-item-inner">
                        <img class="img-responsive" src="../public/images/work_4.jpg" alt="">
                        <div class="portfolio-info">
                            <h3>Portfolio Item 4</h3>
                            Lorem Ipsum Dolor Sit
                            
                        </div>
                    </div>
                </div><!--/.portfolio-item-->

                <div class="portfolio-item creative portfolio">
                    <div class="portfolio-item-inner">
                        <img class="img-responsive" src="../public/images/work_5.jpg" alt="">
                        <div class="portfolio-info">
                            <h3>Portfolio Item 5</h3>
                            Lorem Ipsum Dolor Sit
                            
                        </div>
                    </div>
                </div><!--/.portfolio-item-->

                <div class="portfolio-item corporate">
                    <div class="portfolio-item-inner">
                        <img class="img-responsive" src="../public/images/work_6.jpg" alt="">
                        <div class="portfolio-info">
                            <h3>Portfolio Item 5</h3>
                            Lorem Ipsum Dolor Sit
                           
                        </div>
                    </div>
                </div><!--/.portfolio-item-->

                <div class="portfolio-item creative portfolio">
                    <div class="portfolio-item-inner">
                        <img class="img-responsive" src="../public/images/work_7.jpg" alt="">
                        <div class="portfolio-info">
                            <h3>Portfolio Item 7</h3>
                            Lorem Ipsum Dolor Sit
                            
                        </div>
                    </div>
                </div><!--/.portfolio-item-->

                <div class="portfolio-item corporate">
                    <div class="portfolio-item-inner">
                        <img class="img-responsive" src="../public/images/work_8.jpg" alt="">
                        <div class="portfolio-info">
                            <h3>Portfolio Item 8</h3>
                            Lorem Ipsum Dolor Sit
                           
                        </div>
                    </div>
                </div><!--/.portfolio-item-->
            </div>
        </div><!--/.container-->
    </section><!--/#portfolio-->
    <!-- <div class="tlinks">Collect from <a href="http://www.cssmoban.com/" title="网站模板">网站模板</a></div> -->
    <!--/#meet-team-->
    <section id="meet-team">
        <div class="container">
            <div class="section-header">
                <h2 class="section-title text-center wow fadeInDown">安全保障</h2>
                <p class="text-center wow fadeInDown">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut <br> et dolore magna aliqua. Ut enim ad minim veniam</p>
            </div>

            <div class="row">
                <div class="col-sm-6 col-md-3">
                    <div class="team-member wow fadeInUp" data-wow-duration="400ms" data-wow-delay="0ms">
                        <div class="team-img">
                            <img src="../public/images/team_1.jpg" alt="">
                        </div>
                        <div class="team-info">
                            <h3>Bin Burhan</h3>
                            <span>Co-Founder</span>
                        </div>
                        
                        
                    </div>
                </div>
                <div class="col-sm-6 col-md-3">
                    <div class="team-member wow fadeInUp" data-wow-duration="400ms" data-wow-delay="100ms">
                        <div class="team-img">
                            <img src="../public/images/team_2.jpg" alt="">
                        </div>
                        <div class="team-info">
                            <h3>Jane Man</h3>
                            <span>Project Manager</span>
                        </div>
                       
                        
                    </div>
                </div>
                <div class="col-sm-6 col-md-3">
                    <div class="team-member wow fadeInUp" data-wow-duration="400ms" data-wow-delay="200ms">
                        <div class="team-img">
                            <img src="../public/images/team_3.jpg" alt="">
                        </div>
                        <div class="team-info">
                            <h3>Pahlwan</h3>
                            <span>Designer</span>
                        </div>
                       
                    </div>
                </div>
                <div class="col-sm-6 col-md-3">
                    <div class="team-member wow fadeInUp" data-wow-duration="400ms" data-wow-delay="300ms">
                        <div class="team-img">
                            <img src="../public/images/team_4.jpg" alt="">
                        </div>
                        <div class="team-info">
                            <h3>Nasir uddin</h3>
                            <span>UI/UX</span>
                        </div>
                       
                    </div>
                </div>
            </div>

            
            
        </div>
    </section>
    <!--/#pricing-->
    <!-- <section id="pricing">
        <div class="container">
            <div class="section-header">
                <h2 class="section-title text-center wow fadeInDown">Pricing Table</h2>
                <p class="text-center wow fadeInDown">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut <br> et dolore magna aliqua. Ut enim ad minim veniam</p>
            </div>

            <div class="row">
                <div class="col-sm-4">
                    <div class="wow zoomIn" data-wow-duration="400ms" data-wow-delay="0ms">
                        <ul class="pricing">
                            <li class="plan-header">
                                <div class="plan-name">
                                    Starter Pack
                                </div>
                                <div class="plan-price">
                                    $39 <span>per month</span>
                                </div>
                                
                            </li>
                            <li>1 DOMAIN</li>
                            <li>100GB DISK SPACE</li>
                            <li>UNLIMITED BANDWIDTH</li>
                            <li>SHARED SSL CERTIFICATE</li>
                            <li>10 EMAIL ADDRESS</li>
                            <li>24/7 SUPPORT</li>
                            <li class="plan-purchase"><a class="btn btn-primary" href="#">BUY NOW</a></li>
                        </ul>
                    </div>
                </div>
                
                <div class="col-sm-4">
                    <div class="wow zoomIn" data-wow-duration="400ms" data-wow-delay="0ms">
                        <ul class="pricing">
                            <li class="plan-header">
                                <div class="plan-name">
                                    Business Pack
                                </div>
                                <div class="plan-price">
                                    $65 <span>per month</span>
                                </div>
                                
                            </li>
                            <li>1 DOMAIN</li>
                            <li>100GB DISK SPACE</li>
                            <li>UNLIMITED BANDWIDTH</li>
                            <li>SHARED SSL CERTIFICATE</li>
                            <li>10 EMAIL ADDRESS</li>
                            <li>24/7 SUPPORT</li>
                            <li class="plan-purchase"><a class="btn btn-primary" href="#">BUY NOW</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="wow zoomIn" data-wow-duration="400ms" data-wow-delay="0ms">
                        <ul class="pricing">
                            <li class="plan-header">
                                <div class="plan-name">
                                   Pro Pack
                                </div>
                                <div class="plan-price">
                                    $99 <span>per month</span>
                                </div>
                                
                            </li>
                            <li>1 DOMAIN</li>
                            <li>100GB DISK SPACE</li>
                            <li>UNLIMITED BANDWIDTH</li>
                            <li>SHARED SSL CERTIFICATE</li>
                            <li>10 EMAIL ADDRESS</li>
                            <li>24/7 SUPPORT</li>
                            <li class="plan-purchase"><a class="btn btn-primary" href="#">BUY NOW</a></li>
                        </ul>
                    </div>
                </div>
                
                
                
                
            </div>
        </div>
    </section> -->
    
    
    
    <section id="blog">
        <div class="container">
            <div class="section-header">
                <h2 class="section-title text-center wow fadeInDown">研学资讯</h2>
                <p class="text-center wow fadeInDown">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut <br> et dolore magna aliqua. Ut enim ad minim veniam</p>
            </div>
			 
             <div class="row">
             <div id="owl-example" class="owl-carousel"> 

                <% for(var i=0;i<data.length;i++){ %>
                <div class="text-center item">
                    <div class="blog-post blog-large wow fadeInLeft" data-wow-duration="300ms" data-wow-delay="0ms">
                        <article>
                            <header class="entry-header">
                                <div class="entry-thumbnail">
                                    <div style="height:300px;overflow:hidden">
                                    <img src="<%= data[i].YX_IMG%>" alt="" >
                                    </div>
                                </div>
                                <div class="entry-date"><%= data[i].YX_COMMIT_TIME%></div>
                                <h2 class="entry-title" style="overflow: hidden;text-overflow: ellipsis;white-space: nowrap; "><a href="#"><%= data[i].YX_NAME%></a></h2>
                            </header>

                            <div class="entry-content" >
                                <p></p>
                                <div style="height:100px;overflow:hidden"><%-data[i].YX_TITLE%></div>
                                <a class="btn btn-primary" href="http://www.yyyanxue.com/news?YX_ID=<%= data[i].YX_ID%>" target="_blank">查看</a>
                            </div>  
                        </article>
                    </div>
                </div>
                <% } %>
                
                
                
                
                
            </div>
            </div>			

        </div>
    </section> 
    
    
    
    
    
    <!--/#blog-->
    
    <section id="testimonial">
        <div class="container">
            <div class="section-header">
                <h2 class="section-title text-center wow fadeInDown">关于我们</h2>
                <p class="text-center wow fadeInDown">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut <br> et dolore magna aliqua. Ut enim ad minim veniam</p>
            </div>

            <div class="row">
                <div class="col-sm-6">
                <div class="panel-one">
                <div class="user-img"><img alt="" src="../public/images/testimonail_1.jpg"></div>
                <div class="testi-info">
                <h4>Jonathon Andrew</h4>
                <h5>Lorem ipsum dolor sit amet</h5>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed doeiusmod tempor incididunt ut labore et dolore magna aliqua Lorem ipsum dolor sit amet, consectetur.</p>
                </div>
                </div>
                
                
                </div>
                <div class="col-sm-6">
                <div class="panel-one">
                <div class="user-img"><img alt="" src="../public/images/testimonail_2.jpg"></div>
                <div class="testi-info">
                <h4>Jonathon Andrew</h4>
                <h5>Lorem ipsum dolor sit amet</h5>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed doeiusmod tempor incididunt ut labore et dolore magna aliqua Lorem ipsum dolor sit amet, consectetur.</p>
                </div>
                </div>
                
                
                </div>
                <div class="col-sm-6">
                <div class="panel-one">
                <div class="user-img"><img alt="" src="../public/images/testimonail_3.jpg"></div>
                <div class="testi-info">
                <h4>Jonathon Andrew</h4>
                <h5>Lorem ipsum dolor sit amet</h5>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed doeiusmod tempor incididunt ut labore et dolore magna aliqua Lorem ipsum dolor sit amet, consectetur.</p>
                </div>
                </div>
                
                
                </div>
                <div class="col-sm-6">
                <div class="panel-one">
                <div class="user-img"><img alt="" src="../public/images/testimonail_4.jpg"></div>
                <div class="testi-info">
                <h4>Jonathon Andrew</h4>
                <h5>Lorem ipsum dolor sit amet</h5>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed doeiusmod tempor incididunt ut labore et dolore magna aliqua Lorem ipsum dolor sit amet, consectetur.</p>
                </div>
                </div>
                
                
                </div>
                
                
                
                
                
                

            </div>

        </div>
    </section> <!--/#testimonial-->
	
    

    <section id="get-in-touch">
        <div class="container">
            <div class="section-header">
                <h2 class="section-title text-center wow fadeInDown">联系我们</h2>
                <p class="text-center wow fadeInDown">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut <br> et dolore magna aliqua. Ut enim ad minim veniam</p>
            </div>
            
            <div class="row">
            <div class="col-sm-6">
            <div class="address">
            <h4>地址</h4>
            <p>Lorem ipsum dolor sit amet, ETX consectetur adipiscing elit,<br>
 sed do ETX eiusmod tempor incididunt ut labore et</p>
            </div>
            
            <div class="address">
            <h4>手机 </h4>
            <p>123-456-7890</p>
            </div>
            
            <div class="address">
            <h4>邮箱</h4>
            <p><a href="#">info@companyname.com </a></p>
            </div>
            
            <div class="address">
            <h4>QQ</h4>
            <p><a href="#">1056421380</a></p>
            </div>
            </div>
            
            <div class="col-sm-6">            
            <form action="" method="post" name="contact-form" id="main-contact-form">
                                <div class="form-group">
                                    <input type="text"  required placeholder="请填写称呼(以便工作人员与您联系)" class="form-control name" name="name">
                                </div>
                                <div class="form-group">
                                    <input type="email" required placeholder="请填写邮箱地址" class="form-control email" name="email">
                                </div>
                                <div class="form-group">
                                    <input type="number" required placeholder="请填写手机号码(以便工作人员与您联系)" class="form-control phone" name="phone">
                                </div>
                                <div class="form-group">
                                    <textarea required placeholder="请填写留言信息" rows="8" class="form-control message" name="message"></textarea>
                                </div>
                                <button  class="btn btn-primary YX_sub" type="submit" >提交</button>
                                <!-- <button  class="btn btn-primary YX_submit" type="button">提交</button> -->
                            </form>
            </div>
            
            
            </div>
            
            
        </div>
    </section><!--/#get-in-touch-->




    <footer id="footer">
        <div class="container text-center">
          All rights Copyright © 2018 | 重庆大师兄户外拓展
        </div>
    </footer><!--/#footer-->

    <script src="../public/js/jquery.js"></script>
    <script src="../public/js/bootstrap.min.js"></script>

    <script src="../public/js/owl.carousel.min.js"></script>
    <script src="../public/js/mousescroll.js"></script>
    <script src="../public/js/smoothscroll.js"></script>
    <script src="../public/js/jquery.prettyPhoto.js"></script>
    <script src="../public/js/jquery.isotope.min.js"></script>
    <script src="../public/js/jquery.inview.min.js"></script>
    <script src="../public/js/wow.min.js"></script>
    <script src="../public/js/main.js"></script>
	<script src="../public/js/scrolling-nav.js"></script>
<script>

    $(document).ready(function($) {
      $("#owl-example").owlCarousel();
    });

    $("body").data("page", "frontpage");

$("#owl-example").owlCarousel({ 
        items:3,   
/*        itemsDesktop : [1199,3],
        itemsDesktopSmall : [980,9],
        itemsTablet: [768,5],
        itemsTabletSmall: false,
        itemsMobile : [479,4]*/
})

           

    </script>
</body>
</html>